<section class="py-6">
	<div class="container">
		<div class="mw-4xl mx-auto text-center">
			<div class="pb-9 border-bottom border-dark-light">
				<a class="d-inline-block mb-8" href="#">
					<img class="img-fluid" src="https://static.shuffle.dev/uploads/files/3e/3ee2673ade3684a7f46fa65550b3fd0519b1e8e9/culinaria-logo.png" alt="" style="height: 39px;">
				</a>
				<div class="row mb-n4 justify-content-center align-items-center">
					<div class="col-12 col-md-6 col-lg-2 mb-4">
						<a class="d-inline-block text-primary-gradient" href="#">Accueil</a>
					</div>
					<div class="col-12 col-md-6 col-lg-2 mb-4">
						<a class="d-inline-block text-primary-gradient" href="#">Catalogue</a>
					</div>
					<div class="col-12 col-md-6 col-lg-2 mb-4">
						<a class="d-inline-block text-primary-gradient" href="#">A propos</a>
					</div>
					<div class="col-12 col-md-6 col-lg-2 mb-4">
						<a class="d-inline-block text-primary-gradient" href="#">Inscription</a>
					</div>
				</div>
			</div>
			<p class="mt-8 text-muted">Copyright © 2024 Culinaria. Tous droits réservés</p>
		</div>
	</div>
</section>
