{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div>
		{% include 'home/sections/banner.html.twig' %}
		{% include 'home/sections/deals.html.twig' %}
		{% include 'home/sections/categories.html.twig' %}
		{% include 'home/sections/findProduct.html.twig' %}
		{# {% include 'home/sections/recommandations.html.twig' %} #}
	</div>
{% endblock %}
