{% extends 'base.html.twig' %}

{% block title %}Accueil - Culinaria
{% endblock %}

{% block body %}

	<div class='col-lg-10 mx-auto justify-content-center d-flex flex-column align-items-center '>
		{% include 'home/sections/banner.html.twig' %}
		{% include 'home/sections/deals.html.twig' %}
		{% include 'home/sections/categories.html.twig' %}
		{% include 'home/sections/findProduct.html.twig'
			with {'products': products}
		 %}
		{# {% include 'home/sections/recommandations.html.twig' %} #}
	</div>
{% endblock %}
