{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <section class="py-6 bg-light" style="padding-top: 150px;">
  <div class="container">
    <div class="mw-sm mw-md-xl mx-auto mw-lg-none">
      <div class="mb-16">
        <span class="fs-9 text-primary">Trending</span>
        <h1 class="fs-5 text-black mt-6 mb-2">The best of the best</h1>
        <p class="fs-9 text-muted">The coolest, hottest furniture pieces.</p>
      </div>
      <div class="row mb-n8">
        <div class="col-12 col-md-6 col-lg-3 mb-8">
          <a class="d-block" href="#">
            <img class="d-block mb-5 w-100 img-fluid" src="vendia-assets/images/item-cards/shirt-products4.png" alt="" style="height: 365px; object-fit: cover;">
            <span class="fs-10 text-primary-gradient">$99.63</span>
            <h6 class="fs-9 text-black mt-2">Summer T-Shirt 0492</h6>
          </a>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-8">
          <a class="d-block" href="#">
            <img class="d-block mb-5 w-100 img-fluid" src="vendia-assets/images/item-cards/shirt-products3.png" alt="" style="height: 365px; object-fit: cover;">
            <span class="fs-10 text-primary-gradient">$99.63</span>
            <h6 class="fs-9 text-black mt-2">Summer T-Shirt 0492</h6>
          </a>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-8">
          <a class="d-block" href="#">
            <img class="d-block mb-5 w-100 img-fluid" src="vendia-assets/images/item-cards/shirt-products2.png" alt="" style="height: 365px; object-fit: cover;">
            <span class="fs-10 text-primary-gradient">$99.63</span>
            <h6 class="fs-9 text-black mt-2">Summer T-Shirt 0492</h6>
          </a>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-8">
          <a class="d-block" href="#">
            <img class="d-block mb-5 w-100 img-fluid" src="vendia-assets/images/item-cards/shirt-products1.png" alt="" style="height: 365px; object-fit: cover;">
            <span class="fs-10 text-primary-gradient">$99.63</span>
            <h6 class="fs-9 text-black mt-2">Summer T-Shirt 0492</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
