{% extends 'base.html.twig' %}

{% block title %}Pannel administration
{% endblock %}

{% block body %}

	<div class="bg-secondary" style="width: 100vw">
		<div class="row flex-nowrap">
			{% include 'admin/sidebar.html.twig' %}
			<div class="col py-3">
				{% block admincontent %}{% endblock %}
			</div>
		</div>
	</div>


{% endblock %}
