<div
	class="col-md-3 bg-secondary">
	<!-- Content of your sidebar -->
	<div class="d-flex flex-column align-items-start p-3 bg-light" style="min-height: 50vh;">
		<h5 class="mb-4">Sidebar Title</h5>
		<nav class="nav flex-column">
			<a class="nav-link active" href="#">Active</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		</nav>
	</div>
</div>
