$green-200: #82E6AC;
$white: #fff;
$body-bg: $white;
$enable-shadows: true;
$enable-gradients: false;
$light: #FFFFFF;
$dark: #3C3C3B;
$info: #EDEBEB;
$primary: #52AA5E;
$secondary: #FB8B24;
$font-family-base: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
