@import 'custom.scss';
@import 'theme.scss';
@import '~bootstrap/scss/bootstrap';
@import 'max-width-size.scss';
@import 'form.scss';
@import 'home.scss';

.mini-font-size {
    font-size: 0.5rem;
}

.small-font-size {
    font-size: 0.8rem;
}

.medium-font-size {
    font-size: 1rem;
}

.large-font-size {
    font-size: 1.2rem;
}

.base-title-font-size {
    font-size: 1.5rem;
}

// hover effect 
.hover-effect {
    &:hover {
        background-color: #fa983c;
    }
    transition: all 0.3s ease-in-out;
}

.nav-link.active {
    color: white !important; 
    background: #FB8B24 !important;
    padding: 2px 5px !important;
}

.nav-link.inactive {
    color: #52AA5E; /* couleur pour les liens non actifs */
}

.hover-cart {
    &:hover {
        scale: 1.15;
    }
    transition: all 0.3s ease-in-out;
}



