<section class="py-12 py-md-12 bg-light">
	<div class="container">
		<h1 class="text-center fs-5 text-black mb-12">Explorer nos univers</h1>
		<div class="mw-lg mx-auto mw-lg-none">
			<div class="row mx-lg-n8">
				<div class="col-12 col-lg-4 px-lg-8 mb-12 mb-lg-0 d-flex flex-column justify-content-center align-items-center ">
					<a class="d-block" href="#">
						<img class="d-block mb-8 rounded-3 object-fit-cover" style="width: 250px; height: 300px " src="{{asset("/images/collections-boissons.jpg")}}" alt=""></a>
					<div class="mw-xs mx-auto text-center">
						<div class="d-block" href="#">
							<h5 class="text-black mb-3">Boissons</h5>
							<p class="text-muted mb-5">Pour accompagner un bons repas, pour célébrer un événement ou pour partager un moment entre amis.</p>
						</div>
						<a class="d-inline-fex align-items-center fw-medium text-primary" href="#">
							<span class="me-3">Découvrir notre cave</span>
							<svg width="11" height="12" viewbox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.95669 1.75742L9.55635 1.75742M9.55635 1.75742L9.55635 8.35709M9.55635 1.75742L1.07107 10.2427" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4 px-lg-8 mb-12 mb-lg-0 d-flex flex-column justify-content-center align-items-center">
					<a class="d-block" href="#">
						<img class="d-block mb-8 rounded-3 object-fit-cover" style="width: 250px; height: 300px " src="{{asset("/images/collections-gourmet.jpg")}}" alt=""></a>
					<div class="mw-xs mx-auto text-center">
						<div class="d-block" href="#">
							<h5 class="text-black mb-3">Gourmet & Charcuterie</h5>
							<p class="text-muted mb-5">Cheminez à travers de nombreux terroirs, à la découverte de produits d'exception.</p>
						</div>
						<a class="d-inline-fex align-items-center fw-medium text-primary" href="#">
							<span class="me-3">Découvrir nos produits</span>
							<svg width="11" height="12" viewbox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.95669 1.75742L9.55635 1.75742M9.55635 1.75742L9.55635 8.35709M9.55635 1.75742L1.07107 10.2427" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4 px-lg-8 mb-12 mb-lg-0 d-flex flex-column justify-content-center align-items-center">
					<a class="d-block" href="#">
						<img class="d-block mb-8 rounded-3 object-fit-cover" style="width: 250px; height: 300px " src="{{asset("/images/collections-fruits.jpg")}}" alt=""></a>
					<div class="mw-xs mx-auto text-center">
						<div class="d-block" href="#">
							<h5 class="text-black mb-3">Fruits & Légumes</h5>
							<p class="text-muted mb-5">Locaux, de saison, dégustez notre sélection venue tout droit du jardin des maraîchers.</p>
						</div>
						<a class="d-inline-fex align-items-center fw-medium text-primary" href="#">
							<span class="me-3">Découvrir nos saveurs</span>
							<svg width="11" height="12" viewbox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.95669 1.75742L9.55635 1.75742M9.55635 1.75742L9.55635 8.35709M9.55635 1.75742L1.07107 10.2427" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
