<h1>Confirmation de Commande</h1>
<p>Bonjour
	{{ user.username }},</p>
<p>Nous vous confirmons la réception de votre commande.</p>
<p>Vous avez payé un total de
	{{ order.total}}€
</p>
<p>Adresse de livraison :
	{{ deliveryInfo.address }}</p>
<p>Mode de livraison :
	{{ deliveryInfo.deliveryMethod }}</p>
<p>Merci pour votre confiance,</p>
<p>L'équipe Culinaria</p>
