<a class="flex-shrink-0 py-4" href="/">
	<img class="" src="https://static.shuffle.dev/uploads/files/3e/3ee2673ade3684a7f46fa65550b3fd0519b1e8e9/culinaria-logo.png" alt="" width="120px">
</a>

<h1>Confirmation de Commande</h1>
<p>Bonjour
	{{ user.username }},</p>
<p>Nous vous confirmons la réception de votre commande.</p>
<p>Vous avez payé un total de
	{{ order.total}}€
</p>
<p>Adresse de livraison :
	{{ deliveryInfo.address }}</p>
<p>Mode de livraison :
	{{ deliveryInfo.deliveryMethod }}</p>
<p>Merci pour votre confiance,</p>
<p>L'équipe Culinaria</p>
