{% extends 'admin/admin_base.html.twig' %}

{% block title %}Administration - Stocks
{% endblock %}

{% block admincontent %}


	<div class="w-100 h-100 d-flex flex-column gap-0 pt-16 text-center px-12">
		<p class="large-font-size fw-bold mb-6">
			Bienvenue sur le pannel d'administration des stocks de Culinaria.
		</p>
	</div>


{% endblock %}

