{% extends 'base.html.twig' %}

{% block body %}
	<h2>Informations de Livraison</h2>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-primary">Confirmer la commande</button>
	{{ form_end(form) }}
{% endblock %}
